.root {
  transition: opacity 0.3s;
  opacity: 1;
  font-size: 0;
  height: 32px;
  width: 32px;

  &:hover {
    opacity: 0.85;
  }

  svg {
    fill: var(--text-primary);
    height: 100%;
    width: 100%;
  }
}
