@import '../../../common/styles';

$note-size: 10px;
$strings-height: 144px;

@function note-top($string-number) {
  @return $string-number * $strings-height / 6;
}

.root {
  flex: auto;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  & > div {
    width: 100%;
  }

  .fretNumbers {
    display: flex;
    margin: 24px 7.69% 4px 7.69%;
    justify-content: space-around;

    span {
      font-weight: 500;
      font-size: 14px;
      font-family: 'Roboto', sans-serif;
      width: 16px;
      text-align: center;
    }
  }

  .scaleName {
    opacity: 0;
    max-height: 0;
    transition: max-height 0.3s, opacity 0.3s;
    display: flex;
    align-items: flex-start;
    overflow: hidden;
    justify-content: center;
    height: 48px;

    button {
      padding: 8px;
    }

    &.noDistractions {
      transition: max-height 0.3s, opacity 0.3s;
      max-height: 56px;
      opacity: 0.25;
    }
  }

  .stringsContainer {
    height: $strings-height;
    position: relative;
    padding: 12px 0;

    &::before, &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      width: 3.85%;
      z-index: 1;
      background: linear-gradient(to right, var(--background), var(--background-transparent));
    }

    &::after {
      right: 0;
      transform: rotate(180deg);
    }

    svg {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      stroke: var(--text-primary);
      position: absolute;
      stroke-width: 2;
    }

    & > div {
      display: flex;
      justify-content: space-evenly;
      height: 100%;

      .fret {
        flex-grow: 1;
        height: 100%;
        border-right: 1px solid var(--text-primary-transparent);
        position: relative;

        &:first-child, &:last-child {
          flex-grow: 2;
        }

        &:last-child {
          border-right: none;
        }

        &:first-child .note {
          left: 75%;
        }

        .note {
          width: $note-size * 2;
          height: $note-size * 2;
          background-color: var(--primary);
          border-radius: 50%;
          position: absolute;
          left: 50%;
          transform: translate(-50%, -50%) scale(0.5);
          transition: transform 0.3s 0.1s, color 0.3s;
          color: var(--background-transparent);
          will-change: transform, color;
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: 700;
          font-size: 12px;

          &.string0 { top: note-top(0); }
          &.string1 { top: note-top(1); }
          &.string2 { top: note-top(2); }
          &.string3 { top: note-top(3); }
          &.string4 { top: note-top(4); }
          &.string5 { top: note-top(5); }

          &.rootNote {
            background-color: var(--secondary);
          }

          &.withNoteName {
            transition: transform 0.3s, color 0.3s 0.1s;
            transform: translate(-50%, -50%) scale(1);
            color: var(--background);
          }
        }
      }
    }
  }

  .mobileDisclaimer {
    display: none;
    margin: 24px 0 0 0;
    font-size: 18px;

    div {
      max-width: 240px;
      text-align: center;
      margin: 0 auto;
      padding-top: 24px;
      border-top: 1px solid var(--background-lighter);
    }

    svg {
      display: block;
      margin: 16px auto;
      height: 40px;
    }
  }

  .mobileScaleInfo {
    display: none;
    text-align: center;
    font-size: 18px;
  }

  @include breakpoint(tablet) {
    flex: 0 !important;

    & > div > *:not(.keySelector):not(.mobileDisclaimer) {
      display: none;
    }

    .mobileDisclaimer {
      display: block;
    }
  }

  @include media-mobile-landscape {
    & > div > *:not(.stringsContainer):not(.toggles):not(.fretNumbers):not(.mobileScaleInfo) {
      display: none !important;
    }

    .stringsContainer {
      display: block !important;
    }

    .toggles, .fretNumbers {
      display: flex !important;
    }

    .fretNumbers {
      margin-top: 16px !important;
    }

    .mobileScaleInfo {
      display: block !important;
    }
  }
}
