@import '../../../common/styles';

.root {
  height: 180px;
  width: 100%;

  path {
    stroke-width: 1px;
    fill: transparent;
    stroke: var(--text-primary);
    opacity: 0.16;
  }

  @include breakpoint(tablet) {
    visibility: hidden;
  }
}
