@import '../../../common/styles';

.root {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px;
  min-width: 300px;

  &:active {
    transform: translate(-50%, -50%) scale(0.98) !important;
  }

  svg {
    width: 80px;
    margin: 0 auto;
  }

  @include breakpoint(tablet) {
    padding: 24px;
    min-width: 0;
    width: auto;
  }
}

.heading {
  margin-top: 16px;
}
