@import '../../../common/styles';

.root {
  position: relative;
  transition: max-height 0.3s $transition-duration / 2;
  max-height: 184px;
  will-change: max-height;

  &.noDistractions {
    transition: max-height 0.3s $transition-duration / 2;
    max-height: 0;
    overflow: hidden;
  }

  @include breakpoint(tablet) {
    max-height: initial !important;
    flex: 0 !important;
    margin-bottom: 8px;
  }

  @include media-mobile-landscape {
    display: none;
  }
}
