.root {
  border-bottom: 1px solid var(--background-lighter);
  padding: 32px;
  width: 100%;
  text-align: left;
  transition: background-color 0.3s;

  &:hover {
    background-color: var(--background-lighter);
  }

  &:last-child {
    border-bottom: none;
  }

  svg {
    height: 60px;
  }
}
