@import '../../../common/styles';

.scalesContainer {
  flex: auto;
  overflow-y: scroll;
}

.noResults {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}

.searchField {
  @include breakpoint(tablet) {
    display: none;
  }
}
