$media_queries : (
  mobile: 'screen and (max-width: 480px)',
  tablet: 'screen and (max-width: 768px)',
  desktop: 'screen and (max-width: 1200px)',
);

@mixin breakpoint($breakpoints) {
  $conditions : ();
  @each $breakpoint in $breakpoints {
    $conditions: append($conditions, #{inspect(map-get($media_queries, $breakpoint))}, comma);
  }

  @media #{$conditions} {
    @content;
  }
}

@mixin media-mobile-landscape {
  @media screen and (orientation: landscape) and (max-height: 768px) and (max-width: 900px) {
    @content;
  }
}

@mixin text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

$transition-duration: 0.6s;

@mixin open-transition($transform-delay, $visibility-delay, $border-duration, $general-delay) {
  transition:
          transform $transition-duration $transform-delay + $general-delay ease-out,
          border-radius $border-duration $transform-delay + $general-delay,
          visibility 0.0s $visibility-delay + $general-delay;
}

@mixin with-default-open-transition($open-delay: 0s, $close-delay: 0s) {
  border-radius: 50%;
  visibility: hidden;
  transform: scale(0);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  overflow: hidden;

  @include open-transition(0.3s, $transition-duration * 2, $transition-duration, $close-delay);

  &.open {
    visibility: visible;
    border-radius: 0;
    transform: scale(1);

    @include open-transition(0s, 0s, $transition-duration * 2, $open-delay);
  }
}

@media (prefers-reduced-motion: reduce) {
  * , *::before, *::after{
    transition: none !important;
  }
}

@include breakpoint(tablet) {
  *, *::before, *::after {
    transition: none !important;
  }
}

@include media-mobile-landscape {
  *, *::before, *::after {
    transition: none !important;
  }
}
