@import '../../styles';

.root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background);
    padding-bottom: 40px;

    @include media-mobile-landscape {
        padding-bottom: 0;
    }
}

.container {
    flex: auto;
    display: flex;
    flex-direction: column;

    @include breakpoint(tablet) {
        justify-content: center;
    }
}
