.overline {
  font-size: 14px;
  color: var(--darker-gray);
}

.mainHeading {
  font-weight: 400;
  font-size: 22px;
  b {
    font-weight: 700;
  }
}

.bodyText {
  font-size: 18px;

  &.bold {
    font-weight: 600;
  }
}
