@import '../../../common/styles';

.keysOuterContainer {
  flex: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -88px;

  @include breakpoint(tablet) {
    margin-top: -64px;
  }
}

.keysInnerContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 560px;

  button {
    font-size: 36px;
    font-weight: 700;
    width: 80px;
    padding: 16px 0;
    text-align: left;
    opacity: 1;
    transition: opacity 0.3s;

    &:hover {
      opacity: 0.85;
    }

    &.empty {
      cursor: default;
      pointer-events: none;
    }
  }

  @include breakpoint(tablet) {
    flex-direction: column;
    max-height: 406px;
    width: 88px;

    button {
      width: 44px;
      font-size: 28px;
      height: 58px;
    }
  }

  @include media-mobile-landscape {
    flex-direction: row !important;
    width: auto !important;
    max-width: 420px !important;

    button {
      width: 60px !important;
    }
  }
}
