@import '../../../common/styles';

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s;

  &.noDistractions {
    opacity: 0.25;
  }

  @include breakpoint(tablet) {
    opacity: 1 !important;
  }
}

.current {
  height: 32px;
  font-size: 24px;
  font-weight: 700;
  margin: 0 0 0 8px;
  min-width: 32px;
  padding: 0 6px;
}
