@import '../../../common/styles';

.root {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  opacity: 1;
  transition: opacity 0.3s;

  &.noDistractions {
    opacity: 0.25;
  }

  & > label {
    margin: 0 8px;
  }

  @include breakpoint(tablet) {
    opacity: 1 !important;
  }

  @include media-mobile-landscape {
    opacity: 1 !important;
    margin-top: 12px;

    & > label:last-child {
      display: none;
    }
  }
}
