@import '../../styles';

.root {
  z-index: 100;
  background-color: var(--background);

  @include with-default-open-transition();

  &.open {
    .innerContainer {
      transition: opacity 0.3s $transition-duration;
      opacity: 1;
    }
  }

  .innerContainer {
    padding: 56px 56px 0 56px;
    opacity: 0;
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 100%;

    .controls {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row-reverse;
      padding-bottom: 56px;
      z-index: 1;
    }

    .bottomPadding {
      height: 56px;
      flex-shrink: 0;
    }

    @include breakpoint(tablet) {
      padding: 32px 32px 0 32px;

      .controls {
        padding-bottom: 32px;
      }

      .bottomPadding {
        height: 32px;
      }
    }
  }
}


