.root {
  cursor: pointer;
  display: flex;
  align-items: center;

  .checkbox {
    border-radius: 4px;
    border: 2px solid var(--text-primary);
    height: 24px;
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    svg {
      height: 16px;
      width: 16px;
      fill: var(--background);
      stroke-width: 3;
      stroke: var(--background);
      position: relative;
      z-index: 1;
    }

    &::before {
      content: '';
      display: block;
      transform: scale(0);
      border-radius: 50%;
      background-color: var(--text-primary);
      width: 100%;
      height: 100%;
      position: absolute;
      transition: transform 0.6s 0.2s, border-radius 0.6s;
    }

    &.checked {
      &::before {
        transition: transform 0.6s, border-radius 0.6s 0.3s;
        border-radius: 1px;
        transform: scale(1);
      }
    }
  }

  span {
    margin-left: 8px;
    font-weight: 500;
  }

  input {
    display: none;
  }
}
