@import '../../styles';

.root {
  margin: 40px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  &.noDistractions {
    button, svg text {
      opacity: 0;
    }
  }

  button, svg text {
    transition: opacity 0.3s;
    opacity: 1;
  }

  @include breakpoint(tablet) {
    margin: 16px 16px 0 16px;

    button, svg text {
      opacity: 1 !important;
    }
  }

  @include media-mobile-landscape {
    margin: 16px 16px 0 16px;
    padding: 0;

    button, svg text {
      opacity: 1 !important;
    }
  }
}

