.root {
  background-color: var(--background-lighter);
  border-radius: 8px;
  transition: transform 0.2s, box-shadow 0.6s;

  &:hover {
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.3);
  }

  &:active {
    transform: scale(0.98);
  }
}
