@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap&text=0123456789:');

:root {
    --primary: #F2C94C;
    --secondary: #EB5757;
    --background: #1E2637;
    --background-transparent: rgba(30, 38, 55, 0);
    --background-lighter: #343B4B;
    --text-primary: #fff;
    --text-primary-transparent: rgba(255, 255, 255, 0.42);

    --input-placeholder: #ddd;
    --input-background: var(--background-lighter);
}

* {
    font-family: 'Raleway', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    color: var(--text-primary);
    line-height: 1;
}

html {
    font-size: 16px;
}

html, body {
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
    min-height: 100%;
}

a, a:hover, a:visited, a:active {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    padding: 0;
    margin: 0;
    line-height: 1;
}

button {
    border: 0;
    padding: 0;
    margin: 0;
    background-color: transparent;
    outline: 0;
    display: block;
    cursor: pointer;
}
