$padding-horizontal: 24px;
$padding-with-icon: $padding-horizontal + 28px;

.root {
  height: 56px;
  background-color: var(--input-background);
  padding: 0 $padding-horizontal;
  position: relative;
  border-radius: 28px;
  width: 300px;
  font-size: 18px;

  input {
    height: 100%;
    display: block;
    background-color: transparent;
    border: none;
    padding-top: 16px;
    outline: none;
    font-size: inherit;
  }

  label {
    position: absolute;
    transition: all 0.3s;
    top: 50%;
    font-weight: 500;
    left: $padding-horizontal;
    height: 24px;
    line-height: 24px;
    transform: translateY(-50%);
    font-size: inherit;
    color: var(--input-placeholder);
    transform-origin: top left;
  }

  &.focused, &:not(.empty) {
    label {
      top: 8px;
      color: var(--primary);
      transform: scale(0.8);
    }
  }

  &.startIcon {
    padding-left: $padding-with-icon;

    label {
      left: $padding-with-icon + 2px;
    }

    svg {
      position: absolute;
      left: 16px;
      top: 50%;
      transform: translateY(-50%);
      * {
        fill: var(--text-primary);
      }
    }
  }
}
